<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{ifset #title}{include title|striptags} | {/ifset}{$siteTitle}</title>
  <meta n:if="$siteDescription" name="description" content="{$siteDescription}">
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="{$basePath}/layouts/admin/css/bootstrap.min.css">
  <link rel="stylesheet" href="{$basePath}/layouts/admin/js/jquery-ui.css">
  <script src="{$basePath}/layouts/admin/js/jquery-1.11.1.min.js"></script>
  <script src="{$basePath}/layouts/admin/js/jquery-ui.js"></script>
  <script src="{$basePath}/layouts/admin/js/bootstrap.min.js"></script>
    <link href="{$basePath}/layouts/admin/css/jquery.select2.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="{$basePath}/layouts/admin/css/admin.css?v=4" rel="stylesheet">
  <link href="{$basePath}/layouts/admin/css/docs.min.css" rel="stylesheet">
  <script src="{$basePath}/layouts/admin/js/highcharts.js"></script>
  {*Google Charts*}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{$basePath}/layouts/admin/js/sparkline.min.js"></script>
  <link href="{$basePath}/layouts/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <script src="{$basePath}/layouts/admin/js/moment.js"></script>
  <script src="{$basePath}/layouts/admin/js/bootstrap-datetimepicker.js"></script>
  <script src="{$basePath}/layouts/admin/js/nette-ajax/nette.ajax.js"></script>
  <script src="{$basePath}/layouts/admin/js/netteForms.js"></script>
  <script src="{$basePath}/layouts/admin/js/jquery.select2.min.js"></script>
  <script type="text/javascript" src="{$basePath}/layouts/admin/js/jquery.autosize.js"></script>

  <link href="{$basePath}/layouts/admin/dist/css/admin-module.min.css?v1" rel="stylesheet">

  <style>
    .jqstooltip {
      width: 50px;
      height: 25px !important;
    }

    .navbar-collapse {
      padding: 0;
    }

    .nav > li > a {
      padding: 15px 10px;
    }
  </style>
  <script>
      // fix dimensions of chart that was in a hidden element
      jQuery(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) { // on tab selection event
          jQuery(".contains-chart").each(function () { // target each element with the .contains-chart class
              if (jQuery(this).data('gchart')) {
                  window[jQuery(this).data('gchart')]();
              } else {
                  var chart = jQuery(this).highcharts(); // target the chart itself

                  chart.reflow(); // reflow that chart
              }
          });
      });
  </script>
  {block head}{/block}
</head>

<body>
<script> document.documentElement.className += ' js' </script>

<nav class="navbar navbar-default" {if getenv('CRM_ENV') == 'local'} style="background-color:black;"{/if}
     role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      {$admin_logo|noescape}

      {control adminMenu}

      <ul class="nav navbar-nav navbar-right">

        <li>
          {control simpleWidget 'admin.after_menu'}
        </li>

        <li style="padding: 7px">
          {form changeLocale}
            {input locale}
          {/form}
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="fa fa-user"></span>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><a href="{link $homeRoute}"><i class="fa fa-angle-left"></i> {_admin.admin.layout.home}</a></li>
            <li><a href="{link :Users:UsersAdmin:Show $current_user}"><i class="fa fa-user"></i> {_admin.admin.layout.profile}</a></li>
            <li class="divider"></li>
            <li><a href="{link :Users:Sign:Out}"><i class="fa fa-sign-out"></i> {_admin.admin.layout.signout}</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>


<div id="admin_container" class="admin_container" style="padding: 0 20px">

  {foreach $flashes as $flash}
    {if $flash->type == 'info'}
      <div class="alert alert-success">
        <strong>{_application.frontend.layout.success}</strong> {$flash->message|noescape}
      </div>
    {elseif $flash->type == 'error'}
      <div class="alert alert-danger">
        <strong>{_application.frontend.layout.danger}</strong> {$flash->message|noescape}
      </div>
    {elseif $flash->type == 'message'}
      <div class="alert alert-warning">
        {$flash->message}
      </div>
    {else}
      <div class="alert alert-warning">
        <strong>{_application.frontend.layout.warning}</strong> {$flash->message|noescape}
      </div>
    {/if}
  {/foreach}

  {include content}

  <footer style="margin-top:50px">
    <hr>
    <p class="text-center text-muted">
      <small>Thank you for using <a href="https://remp2020.com/" title="Readers’ Engagement and Monetization Platform | Open-source tools for publishers">REMP</a>, open-source software by Denník N.</small>
    </p>
    {control simpleWidget 'admin.footer'}
  </footer>
</div>


<script>
    $(function () {
        $.nette.init();

        $.nette.ext('crm', {
            start: function () {
                if ($('.preloader')) {
                    $('.preloader').show();
                }
            },
            complete: function () {
                if ($('.preloader')) {
                    $('.preloader').hide();
                }
            }
        });

      {var $lang = explode("_", $locale)[0]}
      localizeFlatpickr({$lang})
    });
</script>

<!-- <script src="http://ajaxorg.github.io/ace-builds/src/ace.js"></script> -->
<script type="text/javascript" src="{$basePath}/layouts/admin/ace/ace/ace.js"></script>
<script type="text/javascript" src="{$basePath}/layouts/admin/ace/jquery-ace.min.js"></script>
<script type="text/javascript" src="{$basePath}/layouts/admin/dist/js/admin-module.min.js?v3"></script>

{block scripts}{/block}
</body>
</html>
