services:
	moduleManager:
		setup:
			- addModule(Crm\AdminModule\AdminModule(), 200)

	- Crm\AdminModule\Components\AdminMenuFactoryInterface
	- Crm\AdminModule\Components\DateFilterFormFactory
	- Crm\AdminModule\Forms\ConfigFormFactory
	- Crm\AdminModule\Forms\SnippetFormFactory
	- Crm\AdminModule\Forms\ChangeLocaleFormFactory
