services:
	moduleManager:
		setup:
			- addModule(Crm\AdminModule\AdminModule(), 200)

	- Crm\AdminModule\Components\AdminMenuFactoryInterface
	- Crm\AdminModule\Components\DateFilterFormFactory
	- Crm\AdminModule\Components\YearMonthFilterFormFactory
	- Crm\AdminModule\Forms\ConfigFormFactory
	- Crm\AdminModule\Forms\SnippetFormFactory
	- Crm\AdminModule\Forms\ChangeLocaleFormFactory
	- Crm\AdminModule\Seeders\ConfigsSeeder
	- Crm\AdminModule\Helpers\SecuredAdminAccess
	- Crm\AdminModule\Model\UniversalSearch
	- Crm\AdminModule\Components\UniversalSearchWidget\UniversalSearchWidget
