menu:
	settings: Settings
	background_jobs: Background jobs
	snippets: Snippets
	audit_log: Audit log

admin:
	layout:
		home: Home
		profile: Profile
		signout: Sign out

	audit_log:
		default:
			header: Audit log
			operation:
				title: Operation
				create: Create
				update: Update
				delete: Delete
			table: Table
			signature: Signature
			created_at_from: Created since
			created_at_to: Created until
			filter: Filter
			cancel_filter: Cancel filter
			change: Change
			changed_by: Changed by
			created_at: Time
			no_records: Unable to find any records matching filter
			eg: e.g.

	background_jobs:
		default:
			header: Background jobs
			graph:
				title: Background jobs
				tooltip: Background jobs in time
			types:
				title: Types
			states:
				error: Failed
			enqueued_jobs:
				title: Enqueued Jobs
				id: Id
				type: Type
				payload: Payload
				process_at: "Scheduled for (time)"
				priority: Priority
			hermes_tasks:
				title: Jobs ended with an error
				message_id: ID
				type: Type
				payload: Payload
				process_at: Processed at
				actions: Actions
			retry: Process again
			no_data_available: No records found
			errors_1:
				title: Errors in the last 24 hours
			errors_7:
				title: Errors in the last 7 days
			errors_31:
				title: Errors in the last 31 days

	configs:
		default:
			header: Settings
		messages:
			settings_saved: "Settings was successfully saved."
		validation:
			integer: "Please enter a valid integer"

	snippets:
		default:
			title: Snippets
			new: New snippet
		new:
			title: New snippet
			back: back to snippets
		show:
			title: Snippet '%snippetTitle%'
			back: back to snippets
			edit: Edit snippet
			basic_informations: Basic informations
			usage_informations: Usage informations
		edit:
			back: back to snippet
			title: Edit snippet
			header: Edit snippet
		messages:
			snippet_deleted: Snippet was successfully deleted
			snippet_created: Snippet was successfully created
			snippet_updated: Snippet was successfully updated

components:
	date_filter_form:
		date_from: Filter from
		date_to: Filter to
		submit: Filter
	change_locale_form:
		invalid_submission: "Change of language was not successful. The account was already signed out."

data:
	snippets:
		fields:
			title: Title
			identifier: Identifier
			is_active: Is active
			html: Snippet HTML
			sorting: Sorting
			last_used: Last used
			total_used: Total used
		required:
			title: Title is required
			identifier: Identifier is required
		placeholder:
			title: for example User zone header
			identifier: for example user_header
			sorting: for example 300
			html: some html
		no_record: 'n/a'

security:
	unsecure_login: 'You authentication is not secure enough. Please use two factor authentication method.'

config:
	secure_login:
		name: 'Require secure authentication method for admin roles'
